body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
}
#calculadora {
    width: 300px;
    height: 450px;
    background-color: transparent;
    border: none;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px -5px 5px #444,
                0px 5px 5px #444;
}

#calculadora > section {
    font-family: 'Alata', sans-serif;
    
}

.title {
    margin-bottom: 0;
}

.zero {
    margin: 5px 0 0 0;
    text-align: center;
    background: -webkit-linear-gradient(-45deg,  #c54741 60%, #c97874 20%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #8c5059;
}

.painel {
    width: 300px;
    height: 200px;
    color: #000;
    border-radius: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.painel p{
    margin-right: 10px;
    font-size: 25px;
    letter-spacing: 0.1em;
    line-height: 1.5em;
}

.box-btn {
    width: 300px;
}

.box-btn li {
    width: 300px;
    margin: 0 auto;
    list-style: none;
    padding: 0;
    display: flex;
}

.box-btn li button {
    display: inline-block;
    width: 25%;
    height: 40px;
    box-sizing: border-box;
    padding: 0;
    margin: 5px 5px;
    background-color: #ccc;
    outline: none;
    border: none;
    font-size: 20px;
    transition: 0.5s;
    opacity: 0.9;
    border-radius: 5px;
}

.box-btn li button:hover {
    background-color: #333;
    color: rgb(236, 198, 25);
    opacity: 1;
}

.box-btn li button:active {
    transform: scale(0.9);
}

@media screen and (max-width: 400px) {

    #calculadora {
        width: 260px;
        height: 400px;   
    }

    .box-btn li button {
        display: inline-block;
        width: 20%;
        height: 30px;
        font-size: 16x;
    }

    .box-btn, .box-btn li {
        width: 260px;
    }
}